.bt-cal{

    color:black;
    background-color: rgba(243, 246, 240, 0.126) ;
    width:45px;
    height:32px;
    margin:5px;
    
    border-radius: 3px;




}

.bt-cal:hover {

background-color: rgba(0, 0, 255, 0.294);

}